
body {
    font-size: 16px;
    line-height: 28px;
    font-family: Arial, serif;
    background-color: #eaeaea; 
    color: #333; 
    background-image: url('jpg1.jpg'); 
}

.container {
    width: 800px; 
    margin: auto; 
    background-color: white; 
}

.header {
    padding: 20px; 
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
    margin: 0; 
}

.header ul li {
    display: inline-block; 
    margin-top: 20px; 
    margin-right: 10px; 
}

.header a {
    text-decoration: none;
    color: salmon; 
    padding: 3px; 
}

.header a:hover {
    background-color: lightskyblue; 
    color: white;
}

.hero {
    height: 280px; 
    background-image: url('jpg1.jpg'); 
    background-size: cover; 
    background-position: 0 -140px; 
    border-top: 5px solid salmon; 
    border-bottom: 5px solid lightskyblue; 
}

.content {
    padding: 20px; 
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
    margin-bottom: 15px; 
}

.content .penulis a {
    color: salmon;
    text-decoration: none;
}

.content p {
    font-size: 14px; 
    margin-bottom: 20px; 
}

.footer {
    background-color: #333; 
    padding: 10px; 
    text-align: center;
}

.footer .copy {
    color: white; 
    text-align: center;
    padding: 12px;
    font-size: 12px;
    margin: 0;
}